/* !important - зло */
hr
{
  margin-left: 0;
  max-width: 40px;
}
.r_btn
{
  background-color: #4BA227;
  color: white;
  border: 1px solid white;
  width: 350px;
  height: 150px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.green-panel
{
    color: white;
    background: #4BA227 !important;
}

.r_btn:hover
{
  color: #D4FE00;
  border: none;
  background: #195f19 !important;
  border-color: none;
}

.r_btn:focus
{
  color: #D4FE00;
  border: none;
  background: #195f19 !important;
}



header
{
  background-color: #4BA227 !important ;
  color: white !important;
}

.wrapper
{
  background: white;
  color: black !important;
}

.nav-link:hover
{
  color: #D4FE00 !important;
}

.nav-link
{
  color: white !important;
}

.jumbotron
{
  color: white;
  overflow: hidden;
  height: 200px;
  position: relative;
  /*background: rgba(0, 0, 0, 0);*/
  background: url(./src/background1.jpg) no-repeat bottom center/cover;
}

.jumbotron
{
  min-height: 90%;
}

.jumbotron:before
{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.jumbotron .container
{
  padding: 75px 0;
}

.jumbotron h1,
.jumbotron .lead
{
  color: #fff;
}

.btn-lg
{
  background: #4BA227 !important;
  color: white;
  border: none;
}

.btn-lg:hover
{
  background: #195f19 !important;
  color: #D4FE00;
  border: none;
}


.btn-default
{
  background: #4BA227 !important;
  color: white;
  border: none;
}

.btn-default:hover
{
  background: #195f19 !important;
  color: #D4FE00;
  border: none;
}

.btn-primary
{
  background: #4BA227 !important;
  border: 0;
}

.btn-primary:hover
{
  background: #195f19 !important;
  color: #D4FE00;
}

.sec-features .row:nth-of-type(n+2)
{
  margin-top: 160px;
}

.sec-features .row:last-of-type
{
  margin-bottom: 160px;
}

.sec-features .feature-icon
{
  max-width: 150px;
}

.sec-testimonials {
  padding-top: 128px;
  padding-bottom: 128px;
}

.carousel-indicators
{
  bottom: -30px;
}

.carousel-indicators li
{
  background: rgba(33, 33, 33, 0.1);
}

.carousel-indicators li:focus, .carousel-indicators li:hover
{
  background: rgba(33, 33, 33, 0.5);
}

.carousel-indicators .active
{
  background: rgba(33, 33, 33, 0.75);
}

.carousel-control-next,
.carousel-control-prev
{
  color: #212121;
}

.carousel-control-next:focus, .carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover
{
  color: #111;
}

.footer
{
  padding-top: 24px;
  padding-bottom: 24px;
  /*background: #212121;*/
}

.footer li:nth-of-type(n+2)
{
  margin-left: 8px;
}

footer
{
  height: 45px;
  background-color: #4BA227;
}


.footer-content
{
  padding-top:  10px;
  margin-bottom: 0px;
}

.footer a:focus, .footer a:hover
{
  color: rgba(255, 255, 255, 0);
}

.btm
{
  padding-top: 5%;
}

.routes
{
  line-height: 0.75;
}

img
{
  background-color: none;
  background: none;
}

#video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width:100%;
}

.about-us
{
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.modal_button
{
  height: 100px;
  width: 300px;
}

.sec-contact
{
  background-color: #4BA227;
}

#submit_form
{
  background-color: #D4FE00 !important;
  color: black !important;
}

#submit_form:hover
{
  background-color: #195f19 !important;
  color: white !important;
}

.modal-body
{
  color: white;
  background-color: #4BA227 !important
}

.modal-header
{
  color: white;
  background-color: #4BA227 !important
}

.modal-footer
{
  color: white;
  background-color: #4BA227 !important
}

.dismiss_btn
{
  height: 35px !important;
  background-color: #D4FE00 !important;
  color: black !important;
  border: none;
}

.dismiss_btn:hover
{
  background-color: #195f19 !important;
  color: white !important;
  border: none;
}

.sec-contact
{
  color: white !important;
}

.ajg-logo
{
  height: 25px;
}
